# External Lab

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [ ]:
import pandas as pd
import numpy as np
iris = pd.read_csv('C:\\Users\\nimis\\Desktop\\Iris.csv')

### Find out the datatypes of each and every column

In [ ]:
iris.dtypes

### Print top 10 & bottom 10 samples from the dataframe

In [ ]:
iris.head(10)

In [ ]:
iris.tail(10)

### Find the shape of the dataset

In [ ]:
iris.shape

### Set the index of the dataframe to be the first column

In [ ]:
#iris.set_index('Sepal Length (in cm)')

### Use iloc function to print all the rows of the 3rd column

In [ ]:
iris.iloc[:,2]

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

In [ ]:
iris.iloc[0:10,0:2]

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

In [ ]:
iris[iris.Class == 'Iris-setosa']

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

In [ ]:
import numpy as np
iris['SepalExtra'] = np.multiply(iris.iloc[:,0], iris.iloc[:,1])
#  display
iris.iloc[:,:]

### Find out the mean and variance for each column but for class column

In [ ]:
# Below code crashes on 2nd run of this notebook, need to check why !!!
# To run successfully, a restart of jupyter is needed

In [ ]:
for i in range(iris.shape[1]):
    if i==4:            # skip col class(idx == 4) since it is of type string
        continue        # need to check if we can skip using column name direcly
    col=iris.iloc[:,i]
    mean = col.mean()
    variance = col.var()
    print('Mean of column ' + str(i) + ' is : ', mean, ' and variance is :' , variance)

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

In [ ]:
def _printValues_(a,b):
    print("First  Number :", a)
    print("Second Number :", b)    

_printValues_(iris.iloc[4,0], iris.iloc[4,1])

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

In [ ]:
# Below code crashes on 2nd run of this notebook, need to check why !!!
# To run successfully, a restart of jupyter is needed

for j in range(iris.shape[1]):
    if j==4:    # skip col class(idx == 4) since it is of type string
        continue
    colData = iris.iloc[:,j]
    rangeVal =  np.max(colData) - np.min(colData)
    print('Range of column ' + str(j) + ' is : ', (rangeVal) )

### Sort the entire dataset according to the column Petal width

In [ ]:
sort_by_petal_width = iris.sort_values('Petal width (in cm)')
sort_by_petal_width

### Remove the new column "SepalExtra" from the dataframe

In [ ]:
iris.drop(columns='SepalExtra')

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

In [ ]:
IrisSubset = iris.iloc[0:10,0:3]
IrisSubset

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

In [ ]:
import numpy as np
import pandas as pd

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

In [ ]:
hr_Data = pd.read_csv('C:\\Users\\nimis\\Desktop\\HR_external.txt', sep='\s+')
hr_Data

### Print the no of rows and columns in the dataset

In [ ]:
print("Row Count :", hr_Data.shape[0])

In [ ]:
print("Column Count :", hr_Data.shape[1])

### Find out the type of each and every column in the dataset

In [ ]:
hr_Data.dtypes

### Print out all the rows from 3rd column to 10th columns

In [ ]:
hr_Data.iloc[:,2:10]

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

In [ ]:
genderData = hr_Data['Gender']

In [ ]:
maleCount = (genderData==1).value_counts().loc[True]      # assuming 1 is Male 
femaleCount = (genderData==2).value_counts().loc[True]    # assuming 2 is Female

print("Number of Male employees   : ", maleCount)
print("Number of Female employees : ", femaleCount)

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

In [ ]:
ageData = hr_Data['Age']
print("Interquartile range :" , np.percentile(ageData, 75) - np.percentile(ageData, 25) )

### Find out the mean, median and variance for the column - DailyRate

In [ ]:
dailyRateData = hr_Data['DailyRate']

medianVal = dailyRateData.median()
meanVal = dailyRateData.mean()
varianceValue = dailyRateData.var()

# print results
print('Mean     :', meanVal)
print('Median   :', medianVal)
print('Variance :', varianceValue)

### Plot the attrition column (Since it is a categorical variable, chose the plot accordingly)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

attr_counter = {} # dictionary
for z in hr_Data.itertuples():    
    attr_counter[z[2]] = attr_counter.get(z[2], 0) + 1

In [ ]:
plt.pie(attr_counter.values(), labels=attr_counter.keys())
plt.title('Attrition Distribution')
plt.show()

### Plot Total working years using matplotlib plot function

In [ ]:
range = np.max(hr_Data['TotalWorkingYears']) - np.min(hr_Data['TotalWorkingYears'])
hr_Data['TotalWorkingYears'].plot.hist(bins=range+1, alpha=0.8)